<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SupportedLocales" value="en-us" />
    <add key="ShowCheckBackLater" value="false" />
    <add key="PublicationRegion" value="undefined region" />
  </appSettings>
  <system.web>
    <customErrors mode="On" allowNestedErrors="false" defaultRedirect="dev/server-error">
      <error statusCode="404" redirect="dev/not-found" />
    </customErrors>
    <httpRuntime targetFramework="4.5" />
    <compilation targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" defaultResponseMode="ExecuteURL">
      <remove statusCode="404" subStatusCode="-1" />
      <error prefixLanguageFilePath="true" statusCode="404" path="dev/not-found" />
      <remove statusCode="500" subStatusCode="-1" />
      <error prefixLanguageFilePath="true" statusCode="500" path="dev/server-error" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <rewrite>
      <rules> <!--
      
          Redirection rule applicable to INT environments only:
          Check to see if the request is for direct-access to one of our INT sites.  
          If YES, then redirect the request through front-door to www.bing-int.com.  
          If NO, then skip past this rule to the next rule. -->
        
        <rule name="Disallow Direct Access to Azure Websites (int)" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="bing-devcenter-*-int.azurewebsites.net" />
            <add input="{URL}" pattern="/dev/status" negate="true"/>
            <!-- useast jump box -->
            <add input="{REMOTE_ADDR}" pattern="168.62.43.78" negate="true"/>
            <!-- uswest jump box -->
            <add input="{REMOTE_ADDR}" pattern="168.62.212.75" negate="true"/>
            <!-- asiaeast jump box -->
            <add input="{REMOTE_ADDR}" pattern="168.63.218.107" negate="true"/>
            <!-- eurnorth jump box -->
            <add input="{REMOTE_ADDR}" pattern="137.116.224.196" negate="true"/>
            <add input="{HTTP_X_ORIGINAL_HOST}" pattern="www.bing-int.com" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.bing-int.com/{R:1}" redirectType="Temporary" />
        </rule> <!--
        
          Redirection rule applicable to PROD environments only:
          Assume the request needs to be re-directed through front-door to www.bing.com
          unless the request matches ANY of the following "negate" conditions. -->
        
        <rule name="Canonical Host Name" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="/dev/status" negate="true"/>
            <!-- useast jump box -->
            <add input="{REMOTE_ADDR}" pattern="168.62.43.78" negate="true"/>
            <!-- uswest jump box -->
            <add input="{REMOTE_ADDR}" pattern="168.62.212.75" negate="true"/>
            <!-- asiaeast jump box -->
            <add input="{REMOTE_ADDR}" pattern="168.63.218.107" negate="true"/>
            <!-- eurnorth jump box -->
            <add input="{REMOTE_ADDR}" pattern="137.116.224.196" negate="true"/>
            <add input="{HTTP_X_ORIGINAL_HOST}" pattern="cn.bing.com" negate="true" />
            <add input="{HTTP_X_ORIGINAL_HOST}" pattern="it.bing.com" negate="true" />
            <add input="{HTTP_X_ORIGINAL_HOST}" pattern="be.bing.com" negate="true" />
            <add input="{HTTP_X_ORIGINAL_HOST}" pattern="nz.bing.com" negate="true" />
            <add input="{HTTP_X_ORIGINAL_HOST}" pattern="hk.bing.com" negate="true" />
            <add input="{HTTP_X_ORIGINAL_HOST}" pattern="www.bing.com" negate="true" />
            <add input="{HTTP_X_ORIGINAL_HOST}" pattern="www.bing-int.com" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.bing.com/{R:1}" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>